@import 'vars';
@import 'global';
@import 'fonts';

// start header

.index-bg-color{
    background-color: #fff;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;

}
.header__btn-login{
    background-color: $green;
}
.header__btn-register,
.header__btn-logout{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}
.header__circle{
    &.active{
        display: block;
    }
    display: none;
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    span{
        border-radius: 50%;
        position: absolute;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -7px;
        font-size: 11px;
        color: #fff;

    }
}
.header__box{
    display: flex;
    align-items: center;
}
.notification{
    span{
        background-color: $yellow;
    }
}
.message{
    span{
        background-color: $tomate;
    }
}
.basket{
    margin-right: 20px;
    span{
        background-color: $green;
    }
}
.header__btn-login--off{
    display: none;
}
.header__btn-logout{
    display: none;
    &.header__btn-login--on{
        display: block;
    }
}
.user__box,
.basket__box,
.notification__box,
.message__box{
    position: relative;
    height: 90px;
    margin-top: 42px;
    &:hover{
        .user__menu{
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
        }
    }
}
.user{
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before{
        content: '\f078';
        position: absolute;
        font-family: 'icomoon';
        color: #707070;
        font-size: 12px;
        top: 0;
        right: 0;
    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__images{
        margin-right: 15px;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
    }
    &__info{
        font-size: 14px;
        line-height: 24px;
    }
    &__name{
        @include f500;
        color: #222;
    }
    &__money{
        color: $green;
        @include f700;
    }
}
.user__menu {
    border: 0px solid rgb(204, 204, 204);
    position: absolute;
    background-color: #fff;
    padding: 0px 20px;
    width: 158px;
    top: 69px;
    left: 20px;
    transition: all .3s;
    height: 0px;
    overflow: hidden;
    a{
        font-size: 12px;
        color: #546e7a;
        margin-bottom: 15px;
    }
}
.circle__menu{
    position: absolute;
    top: 62px;
    border-top: 0px solid #e0e0e0; 
    right: 0;
    height: 0;
    transition: all .3s;
    overflow: hidden;
    z-index: 1;
}
.basket__box,
.notification__box,
.message__box{
    margin-top: 56px;
    margin-left: 15px;
    &:hover{
        .header__circle::before{
            color: $bg;
        }
        .circle__menu{
            border-top: 0px solid #e0e0e0; 
            overflow: auto;
            height: auto;
        }
        .circle__item{
            padding: 23px;
        }
    }
}
.circle__item{
    background-color: #fff;
    padding: 0 23px;
    border: 1px solid #e0e0e0;
    border-top: none;
    display: flex;
    align-items: center;
    width: 269px;
    position: relative;
    font-family: inherit !important;
    transition: all .3s;
    &::before{
        position: absolute;
        top: 27px;
        right: 28px;
        font-size: 16px;
        font-family: 'icomoon';
        color: #b0bec5;
    }
}
.circle__images{
    margin-right: 15px;
}
.circle__info{
    &-name{
        @include f500;
        color: $bg;
    }
    &-thema{
        color: $green;
        font-size: 12px;
    }
    &-price{
        @include f500;
        font-size: 16px;
        color: #000;
    }
}
.circle__info-date{
    font-size: 10px;
    color: #707070;
}

.basket__summ{
    background-color: #fff;
    padding: 16px 17px 12px;
    border: 1px solid #e0e0e0;
    border-top: none;
}
.basket__title{
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 22px;
    margin-bottom: 15px;
    font-size: 16px;
    @include f700;
    color: $bg;
}
.basket__btn{
    background-color: $green;
    color: #fff;
    @include f700;
    font-size: 14px;
    padding: 12px 5px;
    text-align: center;
    width: 100px;
}
.basket__btn-checkout{
    width: 122px;
    background-color: $red;
    margin-left: 6px;
}
.notification__menu,
.message__menu{
    .circle__images{
        margin-right: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    .circle__info{
        line-height: 18px;
    }
}
.icons-color{
    &::before{
        color: $tomate;
    }
}
.header__btn-menu,
.menu__btn{
    display: none;
}

// end header

// start modal
#modal{
    background-color: $green;
    max-width: 730px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 100px;
}
.login__title{
    color: #fff;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    @include f700;
    margin-bottom: 40px;
}
.login__wrapper{
    form{
        max-width: 400px;
        margin: 0 auto;
    }
    label{
        position: relative;
        display: block;
        width: 100%;
        &::before{
            position: absolute;
            font-family: 'icomoon';
            font-size: 14px;
            color: #fff;
            left: 18px;
            top: 9px;
        }
    }
    .login__label-name::before{
        content: "\f007";
    }
    .login__label-password::before{
        content: "\f023";
    }
    input{
        height: 43px;
        margin-bottom: 8px;
        border: none;
        background-color: #76ae36;
        color: #fff;
        font-size: 14px;
        padding-left: 40px;
        display: block;
        width: 100%;
        &::placeholder{
            color: #fff;
        }
    }
    button{
        margin-top: 19px;
        border: none;
        padding: 18px 0 16px;
        text-transform: uppercase;
        width: 140px;
        background-color: #fff;
        margin-right: 10px;
        @include f700;
        color: #000;
        text-align: center;
        box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
    }
   
} 
.lost__pass{
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;  
}
.creat__acc{
    margin-top: 19px;
    border: none;
    padding: 15px 0 15px 28px;
    background-color: #76ae36;
    color: #fff;
    font-size: 18px;
    width: 245px;
    text-align: center;
    position: relative;
    &::before{
        content: "\f044";
        font-family: 'icomoon';
        position: absolute;
        top: 15px;
        left: 35px;
    }
}
.fancybox-button svg path{
    fill: #fff;
}

// end modal

// start search

.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
    &.page-search{
        min-height: 230px;
        .search__inner{
            padding: 55px 0px 70px;
            &-text{
                margin-bottom: 20px;
            }
        }
    }
}
.search__inner{
    padding: 135px 0 100px;
    color: #fff;
    text-align: center;
    &-title{
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 28px;
        @include f700;
    }
    &-text{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 50px;
        @include f500;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, .75);
            height: 56px;
            border: none;
            font-size: 14px;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder{
                color: #90a4ae;
                @include f500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;
        
        }
    }
}


// end search
// start products
.products{
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, .75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        min-height: 90px;
        align-items: center;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        color: $bg;
        font-size: 18px;
        @include f500;
        display: block;
    }
    &-category{
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price{
        font-size: 20px;
        color: $bg;
        @include f700;
    }
    &-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;
        padding: 0px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar{
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            margin-right: 14px;
        }
        span{
            font-size: 14px;
            @include f500;
        }
    }
    &-star{
        font-size: 12px;
        span{
            color: $bg;
        }
    }
}
.products__bottom-btn{
    text-align: center;
    button{
    margin-top: 45px 5px 0; 
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, .75); 
    border: none;
    background-color: #fff;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
            outline: none;
        }  
    }
              
}
// end products
// start product-slider
.product-slider{
    padding: 110px 0px 120px;
    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            margin: 0 4px;
            &.slick-active{
                button{
                    background-color: $green;
                } 
            }
            button{
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                height: 16px;
                width: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}
// end product-slider
// star advantages

.advantages{
    background-color: $bg;
    padding: 110px 0;
}
.advantages__title{
    color: #fff;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    max-width: 370px;
    text-align: center;
    padding: 0px 15px;
    &:hover{
        .advantages__item-images{
            background-color: $green;
            svg{
                fill: #fff;
            }
        }
        .advantages__item-title{
            color: $green;
        }
    }
    &-images{
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .3s;
        svg{
            transition: all .3s;
        }
    }
    &-title{
        margin-bottom: 25px;
        color: #fff;
        @include f500;
        font-size: 24px;
        transition: all .3s;
    }
    &-text{
        font-size: 15px;
    }
}

// end advantages
// start author 
.author{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__box{
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }
    &__title{
        line-height: 36px;
        font-size: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 265px;
        span{
            @include f700;
        }

    }
    &__link{
        line-height: 36px;
        font-size: 18px;
        padding: 14px 40px;
        background-color: #fff;
    }
}
// end author
// start tutorial
.tutorial{
    padding: 70px 0px 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;
    }
}
.tutorial__item{
    &-images{
        min-height: 270px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-title{
        font-size: 24px;
        background-color: #f8f8f8;
        @include f700;
        text-align: center;
        padding: 30px 10px;
        color: $bg;
    
    }
}
// end tutorial
// start footer

.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 80px;
    }
}
.footer__col{
    max-width: 270px;
    width: 100%;
    &-menu{
        max-width: 220px;
    }
    &-title{
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }
    &-text{
        color: #b7c3c8;
        margin-bottom: 30px;
    }

}
.footer__info{
    margin-top: 18px;
    @include f500;
    color: #fff;
    padding-left: 30px;
    position: relative;
    &::before{
        content: '\e947';
        font-family: 'icomoon';
        color: $green;
        font-size: 18px;
        position: absolute;
        left: 0;
    }
    &-phone::before{
        content: '\f095';
    }
}
.footer__col-list{
    a{
        margin-bottom: 13px;
        padding-left: 22px;
        color: #b7c3c8;
        position: relative;
        &::before{
            content: '\f054';
            font-family: 'icomoon';
            color: $green;
            position: absolute;
            left: 0;
            font-size: 18px;
        }
    }
}
.footer__social-link{
    margin-bottom: 33px;
    li{
        display: inline-block;
        & + li{
            margin-left: 7px;
        }
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/css_sprites.png);
    }
}
.link-twitter{
    background-position: -28px 0;
}
.link-youtube{
    background-position: -56px 0;
}
.link-pinterest{
    background-position: 0 -28px;
}
.link-linkledin{
    background-position: -28px -28px;
}
.footer__form-title{
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
}
.footer__form{
    position: relative;
    input{
        background-color: #2f3c43;
        border: none;
        display: block;
        width: 100%;
        height: 40px;
        color: #fff;
        font-size: 14px;
        &::placeholder{
            color: #697378;
            padding-left: 13px;
            padding-right: 50px;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        height: 40px;
        width: 43px;
        cursor: pointer;
        border: none;
        &::before{
            content: '\f124';
            font-family: 'icomoon';
            color: #fff;
            font-size: 20px;
        }
    }

}


.footer__copy{
    border-top: 1px solid #919699;
}
.footer__copy-text{
    text-align: center;
    color: #919699;
    padding: 25px 0;
}

// end footer
// start product-page

.product-page__inner{
    display: flex;
    padding-bottom: 110px;
}
.product-page__aside{
    margin-right: 30px;
}
.aside-item{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 32px 32px;
    margin-bottom: 30px;
    width: 270px;
}
.aside__title{
    border-bottom: 1px solid #dde3e8;
    font-size: 20px;
    color: $bg;
    @include f700;
    padding: 22px 0px 19px;
}
.category__list{
    padding-top: 10px;
    li{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;
        &::before{
            content: '\f054';
            font-family: 'icomoon';
            color: #8bc34a;
            position: absolute;
            left: 0;
            font-size: 18px;
        }
    }
    a{
        color: $bg;
    }
    span{
        color: #90a4ae;
        margin-left: 10px;
    }
}
.price-range{
    form{
        padding-top: 20px;
    }
    button{
        margin-top: 55px;
        background-color: $green;
        color: #fff;
        padding: 16px 10px;
        text-align: center;
        @include f500;
        width: 100%;
        display: block;
        border: none;
        cursor: pointer;
        position: relative;
        &::before{
            position: absolute;
            content: '\f002';
            left: 58px;
            top: 15px;
            font-family: 'icomoon';
            color: #fff;
            font-size: 15px;
        }
    }
}
.irs-min,
.irs-max{
    display: none;
}
.irs--flat .irs-line{
    background-color: #f2f5f8;
    height: 5px;
}
.irs--flat .irs-bar{
    background-color: $bg;
    height: 5px;
}
.irs--flat .irs-handle{
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    background-color: #fff;
    border-radius: 50%;
    top: 19px;
}
.irs--flat .irs-handle>i:first-child{
    display: none;
}
.irs-from, .irs-single, .irs-to{
    top: 45px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
    display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to{
    color: #78909c;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 0px 0px;
    background-color: transparent;
    border-radius: 0;
}
.product-page__aside{
    .product__item-img{
        min-height: 120px;
    }
    .product__item{
        box-shadow: none;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dde3e8;
    }
    .product__item-content{
        padding: 0;
        min-height: 75px;
        border-bottom: none;
    }
    .product__item-info{
        padding: 0;
        min-height: 0;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-price{
        font-size: 16px;
    }
    .product__item-starnum{
        display: none;
    }
    .rate-star{
        margin-right: 0;
    }
    .product__item-author .avatar{
        margin-right: 9px;
    }
    .jq-ry-container{
        padding: 0;
    }
}
.aside__product-item{
        .product__item:last-child{
            border: none;
            padding-bottom: none;
        }
        .product__item:first-child{
            margin-top: 25px;
        }
    }
.top-sellers__link{
    padding: 16px 10px;
    display: block;
    background-color: $green;
    color: #fff;
    @include f500;
    text-align: center;
}
.product-page__filter{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 20px;
    margin-bottom: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        cursor: pointer;
        background-color: transparent;
        font-size: 16px;
        border: none;
        color: #707070;
        outline: none;
        &.active{
            color: $green;
        }
    }
}
.product-page__content{
    width: 100%;
}
.product-page__filter-sort{
    display: flex;
    align-items: center;
}
.product-page__content{
    .product__item{
        max-width: 270px;
        background-color: #fff;
        transition: all .5s;
    }
    .product__item-img{
        min-height: 180px;
    }
    .product__item-content{
        padding: 10px 20px;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-info{
        min-height: 65px;
        padding: 10px 20px;
    }
    .rate-star{
        margin-right: 5px;
    }
    .jq-ry-container{
        padding: 0;
    }
}
.product-page__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.pagination__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 6px;
        }
    }
    a,
    span{
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        width: 43px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        font-size: 16px;
        color: $bg;
        @include f500;
        &.active{
            background-color: $red;
            color: #fff;
        }
    }
    
}
.product__item-text{
    display: none;
}
.product__item-price{
    span{
        display: none;
    }
}
.product__item-list{
    display: none;
    .icon-comments-o,
    .icon-heart-o{
        display: inline-block;
        font-size: 12px;
        color: #79838d;
        padding-left: 50px;
        border-left: 1px solid #aeb4bb;
        position: relative;
        span{
            color: $bg;
            @include f500; 
        }
        &::before{
            color: $green;
            font-size: 16px;
            position: absolute;
            left: 20px;
            top: -2px;
        }
    }
    .icon-comments-o{
        padding-right: 30px;
    }
}
.product__item{
    &.list{
        max-width: 100%;
        .product__item-img{
            width: 240px;
            float: left;
            min-height: 100%;
        }
        .product__item-text{
            display: block;
            font-size: 14px;
            color: #70838d;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .product__item-price{
            font-size: 30px;
            span{
                display: block;
                font-size: 13px;
                color: #aeb4bb;
                margin-top: 30px;
            }
        }
        .product__item-name{
            max-width: 480px;
        }
        .product__item-content{
            padding-top: 23px;
        }
        .product__item-list{
            display: block;

        }
    }
    .product__item-star{
        margin-left: auto;
        margin-right: 30px;
    }
    
}


// end product-page
// start product-one page
.product-one{
    padding-bottom: 100px;
}
.product-one__inner{
    display: flex;
}
.product-one__content{
    margin-right: 31px;
    max-width: 870px;
}
.product-one__images-inner{
    border: 1px solid #dcdcdc;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}
.product-one__images{
    max-width: 829px;
    height: 422px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-one__title{
    font-size: 30px;
    @include f500;
    color: $bg;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.product-one__text{
    font-size: 16px;
    color: #707070;
    margin-bottom: 35px;
    margin-top: 20px;
}
.product-one__box{
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.product-one__link{
    a{
        color: $grey;
        width: 150px;
        font-size: 14px;
        padding: 16px 8px;
        & + a{
            margin-left: 20px;
        }
    }    
}
.link-live{
    background-color: $red;
}
.link-screenshot{
    background-color: #455a64;
}
.link-documentation{
    background-color: $green;
}
.product-one__social{
    a{
        width: 54px;
        height: 50px;
        position: relative;
        & + a{
            margin-right: 3px;
        }
        &::before{
            color: #fff;
            font-size: 18px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.icon-facebook{
    background-color: #6370b6;
}
.icon-twitter{
    background-color: #64b5f6;
}
.icon-linkedin{
    background-color: #4f71ce;
}
.icon-pinterest-p{
    background-color: #d32f2f;
}

.product-one__more-title{
    font-size: 18px;
    @include f500;
    color: $bg;
    padding: 18px 25px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    margin-bottom: 28px;
}
.product-one__tabs{
    margin-bottom: 55px;
}
.tabs{
    display: flex;
    text-align: center;
    border: 1px solid #d7d7d7;
    .tab{
        width: 100%;
        background-color: #fff;
        font-size: 16px;
        color: #70838d;
        padding: 20px;
        cursor: pointer;
        & + .tab{
            border-left: 1px solid #d7d7d7;
        }
    }
}
.tab_content{
    border: 1px solid #d7d7d7;
    background-color: #fff;
    border-top: none;
    padding: 30px 50px;
}
.tab-item{
    display: none;
    &:first-child{
        display: block;
    }
}
.tab-items__list{
    font-size: 16px;
    line-height: 36px;
    color: #707070;
    column-count: 2;
    column-gap: 25px;
    li{
        max-width: 270px;
        width: 100%;
    }
}


.product-one__more-icons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.productmini{
    margin-bottom: 27px;
    display: flex;
    align-items: center;
    height: 90px;
    max-width: 270px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}
.productmini__images{
    width: 100px;
    height: 90px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.productmini__name{
    @include f500;
    font-size: 14px;
    color: $bg;
}
.productmini__theme{
    font-size: 12px;
    color: $green;
}
.productmini__price{
    @include f700;
    font-size: 18px;
    color: $bg;
}
.price__box{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.price__product{
    font-size: 22px;
    @include f500;
    color: $red;
    
}
.product-price{
    button{
        box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
        margin-bottom: 7px;
        border: none;
        background-color: #546e7a;
        color: #fff;
        font-size: 16px;
        text-align: center;
        display: block;
        padding: 17px 5px;
        width: 100%;
        cursor: pointer;
        font-family: 'Roboto', sans-serif !important;
        font-weight: 700;
        &::before{
            font-weight: 400;
            font-family: 'icomoon';
            padding-right: 8px;
        }
    }
    .icon-shopping-cart{
    background-color: $green;
    }
    .icon-heart-o{
    background-color: #42a5f5;
    }
}
.product-author__box{
    padding: 25px 0;
    display: flex;
}
.author__avatar{
    margin-right: 14px;
}

.author__name{
    font-size: 18px;
    color: $bg;
    margin-bottom: 2px;
}
.author__info-link{
    font-size: 13px;
    color: #707070;
    border: 1px solid #d6d6d6;
    padding: 6px 9px 5px;
}
.author__awords-list{
    li{
        display: inline-block;
        color: #fff;
        font-size: 20px;
        text-align: center;
        position: relative;
        &::before{
            position: absolute;
            top: 6px;
            left: 0;
            right: 0;
        }
        & + li{
            margin-left: 4px;
        }
    }
}
.icon-meh-o{
    background-image: url(../images/awords/awords-orange.png);
    width: 34px;
    height: 37px;
}
.icon-pagelines{
    background-image: url(../images/awords/awords-red.png);
    width: 34px;
    height: 37px;
}
.icon-flash{
    background-image: url(../images/awords/awords-blue.png);
    width: 34px;
    height: 37px;
}
.icon-foursquare{
    background-image: url(../images/awords/awords-green.png);
    width: 34px;
    height: 37px;
}
.icon-yen{
    background-image: url(../images/awords/awords-grey.png);
    width: 34px;
    height: 37px;   
}
.aside-item__sales{
    padding-top: 23px;
    font-size: 16px;
    @include f300;
    color: #707070;
    span{
        font-size: 20px;
        @include f700;
        color: #263238;
        padding-right: 13px;
        &::before{
            content: "\f07a";
            font-family: 'icomoon';
            color: #a6b5bb;
            padding-right: 20px;

        }
    }
}
.aside-item.sales-number{
    padding-bottom: 25px;
}
.information__line{
    font-size: 14px;
    color: #70838d;
    margin-top: 20px; 
    line-height: 18px;
    span{
        color: $bg;
        @include f700;
    }
}
// end product-one page

// start page-404
.page-404__wrapper,
.about__wrapper,
.contact__wrapper{
    background-color: #fff;
    border: 1px solid #dcdcdc;
    margin-bottom: 150px;
}
.page-404__head,
.about__head,
.contact__head{
    font-size: 24px;
    color: #444444;
    @include f500;
    padding: 23px 27px;
    border-bottom: 1px solid #dcdcdc;
    
}
.page-404__inner{
    text-align: center;
    background-color: $green;
    color: #fff;
}
.page-404__404{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 300px;
    padding-top: 70px;
    line-height: 300px;
    padding-bottom: 20px;
    position: relative;
    &::after{
        position: absolute;
        content: "";
        background-image: url(../images/page-404.png);
        width: 160px;
        height: 292px;
        margin-left: 20px;
    }
}
.page-404__title{
    margin-bottom: 30px;
    @include f300;
    font-size: 30px;
}
.page-404__text{
    font-size: 18px;
    max-width: 501px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.page-404__link{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 20px 30px 16px;
    margin-bottom: 100px;
}
// end page-404
// start about page
.about__inner{
    padding: 0px 50px;
}
.about__box{
    h3{
        font-size: 20px;
        @include f700;
        color: #444444;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 40px;
    }
}
// end about page
// start contact page

.contact__inner{
    padding: 35px 40px 15px;

}
.contact__head{
    padding-left: 40px;
    padding-right: 40px;
}
.contact__map{
    margin-bottom: 50px;
    iframe{
        width: 100%;
        height: 415px;
    }
   
}
.contact__box{
    display: flex;
}
.contact__info{
    margin-right: 30px;
    max-width: 330px;
    width: 100%;
}
.contact__info-item{
    margin-bottom: 30px;
    
}
.contact__info-title{
    padding-bottom: 20px;
    position: relative;
    font-family: 'Roboto', sans-serif !important;
    @include f500;
    font-size: 20px;
    color: $bg;
    padding-left: 40px;
    margin-bottom: 20px;
    &::after{
        position: absolute;
        content: "";
        background-color: $green;
        width: 44px;
        height: 4px;
        left: 40px;
        bottom: 0;
    }
    &::before{
        font-family: 'icomoon';
        color: $green;
        font-size: 24px;
        position: absolute;
        left: 0;
    }
}
.contacts__info-content{
    padding-left: 40px;
    color: #707070;
    max-width: 230px;
}
.contact__form-title{
    margin-bottom: 20px;
    font-size: 24px;
    @include f500;
    color: #333;
}
.contact__form-row{
    display: flex;
    justify-content: space-between;
}
.contact__form{
    width: 100%;
    input{
        border: none;
        height: 43px;
        padding-left: 17px;
        padding-right: 17px;
        background-color: #f1f4f5;
        width: 350px;
        margin-bottom: 30px;
        display: block;
        &::placeholder{
            color: #7a7a7a;
            font-size: 15px;
        }
    }
    textarea{
        border: none;
        padding: 13px 17px;
        background-color: #f1f4f5;
        height: 190px;
        width: 100%;
        display: block;
        resize: none;
        margin-bottom: 23px;
        &::placeholder{
            color: #7a7a7a;
            font-size: 15px;
        }
    }
    button{
        border: none;
        background-color: $green;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
        @include f700;
        padding: 20px 5px;
        width: 190px;
    }
}


// end contact page
// start settings page
.settings{
    padding-bottom: 100px;
}
.product-one__tabs.settings__tabs{
    display: flex;
    .tabs{
        max-width: 270px;
        width: 100%;
        margin-right: 30px;
        border: 1px solid #dedede;
        border-bottom: none;
        text-align: left;
        display: block;
        height: 100%;
        span{
            display: block;
            background-color: #fff;
            border: 1px solid #dedede;
            padding: 17px 17px 17px 50px;
            color: #707070;
            @include f500;
            font-size: 14px;
            &.active{
                border-bottom: 2px solid $green;
                color: #37474f;
                &::before{
                color: $green;
                }
            }
            &::before{
                left: 24px;
                color: #444444;
            }
        }
    }
    .tab_content{
        width: 100%;
        padding: 0;
        border: none;
        background-color: transparent;
    }
}
.page-box{
    border: 1px solid #dedede;
    background-color: #fff;
    min-height: 100%;
}
.page-box__title{
    border-bottom: 1px solid #dedede;
    padding: 18px 24px;
    @include f500;
    color: $bg;
    font-size: 24px;

}
.page-box__content{
    padding: 30px 35px 80px;
}
.settings__line{
    margin-bottom: 21px;
    align-items: center;
    display: flex;
    label{
        width: 260px;
        color: #444;
    }
    input{
        max-width: 540px;
        width: 100%;
        height: 40px;
        color: #000;
        border: 1px solid #dedede;
        background-color: #f9f9f9;
        padding: 0px 5px;
    }
    select{
        max-width: 540px;
        width: 100%;
        height: 40px;
        color: #707070;
        border: 1px solid #dedede;
        background-color: #f9f9f9;
        padding: 0px 5px;
    }
}

// end settings page
// start profile page
.profile__inner{
    display: flex;
    margin-bottom: 30px;
}
.profile__aside{
    margin-right: 30px;
    max-width: 270px;
    width: 100%;
    & .footer__social-link{
        margin-bottom: 30px;
    }
}
.profile__content{
    width: 100%;
}
.profile-status{
    font-size: 12px;
    color: #707070;
    border: 1px solid #d6d6d6;
    padding: 6px 9px 5px 30px;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        left: 11px;
        top: 13px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
    }
}
.profile-on{
    &::before{
        background-color: $green;
    }
}
.profile-off{
    &::before{
        background-color: $red;
    }
}
.profile__aside-btn{
    margin-bottom: 13px;
    text-align: center;
}
.profile__aside-message{
    margin-bottom: 17px;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #fff;
    @include f500;
    padding: 18px 10px;
    background-color: #546e7a;
    box-shadow: 0px 1px 2px 1px rgba(69, 90, 100, 0.75);
    position: relative;
    &::before{
        content: "\f003";
        font-family: 'icomoon';
        position: absolute;
        left: 50px;
        top: 17px;
       
    }
}
.profile__aside-following{
    margin-bottom: 17px;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #fff;
    @include f700;
    background-color: $green;
    padding: 18px 10px;
    box-shadow: 0px 1px 2px 1px rgba(69, 90, 100, 0.75);
}
.profile__banner{
    border: 1px solid #dedede;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 35px;
}
.profile__banner-images{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 332px;
}
.profile__items{
    display: flex;
    border: 1px solid #dedede;
}
.profile__item{
    width: 215px;
    background-color: #fff;
    text-align: center;
    padding: 20px 5px 17px;
    & + .profile__item{
        border-left: 1px solid #dedede;
    }

}
.profile__item-title{
    @include f500;
    color: $bg;
    font-size: 14px;
}
.profile__item-content{
    color: #707070;
    font-size: 14px;
    @include f500;
}
.profile__item-sales{
    color: $bg;
}
.profile-settings{
    .product-one__tabs.settings__tabs{
        .tabs span{
            font-family: 'Roboto', sans-serif !important;
            font-weight: 500;
            color: #707070;
            position: relative;
            &.active::before{
                color: $green;
            }
            &::before{
                position: absolute;
                left: 27px;
                top: 15px;
                font-size: 14px;
                font-family: 'icomoon';
                color: #d0d0d0;
            }
        }

    }
}
.personal-box{
    background-color: #fff;
    padding: 35px 40px 25px;
    border: 1px solid #dedede;
}
.personal-box__title{
    @include f700;
    margin-bottom: 25px;
    color: $bg;
    font-size: 20px;
}
.personal-box__text{
    margin-bottom: 20px;
    p{
        color: #707070;
    }
}
.personal-box__item-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.personal-box__item-name{
    @include f500;
    font-size: 16px;
    color: $bg;
    font-style: italic;
}
.personal-box__item-number{
    @include f700;
    font-size: 16px;
    color: $bg;
}
.personal-box__item-line{
    height: 15px;
    background-color: #f4f4f4;
    border-radius: 3px;
    margin-bottom: 23px;
    span{
        display: block;
        border-radius: 3px;
        height: 15px;
        background-image: url(../images/pro-bar.jpg);
        background-repeat: repeat;
    }
}
// end profile page
// start upload page
.upload__inner{
    background-color: #fff;
    border: 1px solid #d7d7d7;
    margin-bottom: 110px;
    button{
        color: #fff;
        background-color: $green;
        border: none;
        padding: 15px 36px;
        margin-left: 175px;
        cursor: pointer;
    }
}
.upload__inner-title{
    @include f500;
    padding: 16px 35px 18px;
    font-size: 24px;
    color: $bg;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 40px;
}
.upload__inner-content{
    margin-bottom: 30px;
    padding-left: 45px;
    padding-right: 50px;
}
.upload-line{
    margin-bottom: 25px;
    display: flex;
    label{
        min-width: 175px;
        padding-right: 15px;
        padding-top: 5px;
        color: #444444;
        span{
            color: $green;
        }
        &::placeholder{
            color: #707070;
        }
    }
    select,
    input,
    textarea{
        width: 100%;
        display: block;
        border: 1px solid #d7d7d7;
        height: 40px;
        background-color: #f9f9f9;
        padding: 0px 18px;
    }
    textarea{
        padding: 8px 18px;
        resize: none;
        height: 150px;
    }
    input[type="file"]{
        outline: none;
    }
    .jq-selectbox{
        width: 100%;
    }
    .jq-selectbox__select {
        height: 40px;
        padding: 0 18px;
        border: 1px solid #d7d7d7;
        border-bottom-color: #d7d7d7;
        border-radius: 0px;
        background: #f9f9f9;
        box-shadow: none;
        color: #707070;
        text-shadow: none;
        font-family: 'Roboto-Regular', sans-serif;
        line-height: 40px;
    }
    .jq-selectbox__trigger-arrow{
        border: none;
        font-size: 15px;
        right: 20px;
        line-height: 40px;
        top: 0;
        &::before{
            font-family: 'icomoon';
            content: '\f0d7';
        }
    }
    .jq-selectbox__trigger{
        border-left: none;
    }
    .jq-file {
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        border: 1px solid #d7d7d7;
        height: 40px;
        background-color: #f9f9f9;
    }
    .jq-file__name {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 0 18px;
        border: none;
        border-bottom-color: transparent;
        border-radius: 0px;
        background: transparent;
        box-shadow: none;
        font-size: 12px;
        color: #707070;
        line-height: 40px;
        margin-left: 100px;
       
    }
    .jq-file__browse {
        top: 5px;
        right: auto;
        left: 9px;
        padding: 0 12px;
        font-size: 12px;
        line-height: 26px;
        color: #444;
        border: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        border-radius: 0;
        background: #fff;
        box-shadow: none;
        text-shadow: none;
    }        
}


// end upload page









@import 'media';